.task-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;

  margin-bottom: 50px;
  margin-top: 0;
}

.tasks-section {
  display: none;
}

.flex-task {
  display: flex;

  .item {
    width: 380px;
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.img-titles {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  color: $primary-white-color;
  background-color: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
